<!DOCTYPE html>
<html>
  <head>
    <title>Items List Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">-->
	<link href="static/ad.css" rel="stylesheet" media="screen">
  </head>
   <body>
  <div id="header-wrapper">
  <h1>Welcome to Items List Page!</h1>
      <p>Click <a href="/welcome">here</a> to go back to the Home page.</p>
  </div>
  
           <table>
<tr>
	<th colspan="4">List of Items</th>
	<th>
		<form action="/add">
		<div class="btn-group">
    	<input type="submit" value="Add" />
    	</div>
		</form>
	</th>
<tr>
    <th>Item Id</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Barcode</th>
    <th>Actions</th>
</tr>
{% for items in itemList %}
<tr>
	<td>{{ items.idItems }}</td>
	<td>{{ items.Name }}</td>
	<td>{{ items.Quantity }}</td>
	<td>{{ items.Barcode }}</td>
	<td>
		<a href="{{ url_for('delete', idItems=items.idItems) }}">Delete</a>
		&nbsp;||&nbsp;
		<a href="{{ url_for('update', idItems=items.idItems) }}">Update</a>
	</td>
</tr>
{% endfor %}
</table>

</body>
</html>