<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
	<script src="static/bootstrap/js/bootstrap.js"></script>
  </head>
  <body style="background-color:#2b2b33">
    <div id="login">
    <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Please Login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="UserID" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default login loginmodal-submit" type="submit" value="Login">
      </form>
      {% if error %}
        <center><p class="error"><strong>Error:</strong> {{ error }}</center>
      {% endif %}
      </div>
      </div>
          </div>
  </body>
</html>