<!DOCTYPE html>
<html>
  <head>
    <title>Update an Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">-->
	<link href="static/ad.css" rel="stylesheet" media="screen">
  </head>
   <body>
  <div id="header-wrapper">
  <h1>Update an Item Page!</h1>
      <p>Click <a href="/welcome">here</a> to go back to the Home page.</p>
      <p>Click <a href="/database">here</a> to go back to the item list page.</p>
  </div>
  </body>
</html>