<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css" />
	<link href="static/bootstrap/css/themify-icons/themify-icons.css" rel="stylesheet">
	<script src="static/bootstrap/js/bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://unpkg.com/vue-nav-tabs/themes/vue-tabs.css">
		<script src="https://unpkg.com/vue-nav-tabs/dist/vue-tabs.js"></script>
  </head>
   <body class="container-fluid">
  <div id="header-wrapper">
	    <ul class="top-nav">
  <li><a href="/welcome">HOME</a></li>
  <li><a href="#">CONTACTS</a>
	<ul>
	    <li><a href="#">Kendrick Urbaniak</a></li>
      	<li><a href="#">Antonio Guillen</a></li>        
      	<li><a href="#">Amanda Conlin</a></li>
		<li><a href="#">Mark Bradshaw</a></li>
    </ul>
  </li>
  <li><a href="/account">ACCOUNT VIEW</a></li>      
    <li><a href="#">INVENTORY MANAGEMENT</a></li>
  <li style="float:right"><a href="/login">LOGOUT</a></li>
</ul>
  </div>
  <div class="row">
    <div class="col col-3 left">
      <div class="panel panel-left">
	  <div id="first">
		<vue-tabs>
		<v-tab title="BROWSE">
	<div class="leftAccordianBody">
        <div class="leftBlock">
  			<input type="radio" name="left" id="option1" />   
  			<label for="option1"><span>Contacts</span></label>
  				<div class="info">
    				<p>Contacts Info</p>
  				</div>
		</div>
		<div class="leftBlock">
  				<input type="radio" name="left" id="option2"/>
  				<label for="option2"><span>Facilities</span></label>
  					<div class="info">
    					<p>Facilities Info</p>
  					</div>
		</div>
		<div class="leftBlock">
  			<input type="radio" name="left" id="option3" checked />
  			<label for="option3"><span>Inventory</span></label>
  				<div class="info">
					<ol class="tree">
						<li>
							<label for="lighting">Lighting</label>
							<input type="checkbox" id="lighting" />
							<ol>
								<li>
									<label for="cases">Cases</label>
									<input type="checkbox" id="cases"/>
									<ol>
										<li class="file"><a href="">hi</a></li>
										<li class="file"><a href="">menu-1-1-2</a></li>
										<li class="file"><a href="">menu-1-1-3</a></li>
										<li class="file"><a href="">menu-1-1-4</a></li>
									</ol> 
								</li>
							</ol>
						</li> 
					</ol>
				</div>
		</div>
		<div class="leftBlock">
  			<input type="radio" name="left" id="option4" />
  			<label for="option4"><span>Services</span></label>
  				<div class="info">
    				<ol class="tree">
						<li>
							<label for="labor">Labor</label>
							<input type="checkbox" id="labor" />
							<ol>
								<li class="file"><a href="">information</a></li>
							</ol>
						</li> 
						<li>
							<label for="services">Services</label>
							<input type="checkbox" id="services" />
							<ol>
								<li class="file"><a href="">information</a></li>
							</ol>
						</li>
						<li>
							<label for="showExpenses">Show Expenses</label>
							<input type="checkbox" id="showExpenses" />
							<ol>
								<li class="file"><a href="">information</a></li>
							</ol>
						</li>
						<li>
							<label for="travel">Travel</label>
							<input type="checkbox" id="travel" />
							<ol>
								<li class="file"><a href="">information</a></li>
							</ol>
						</li>
						<li>
							<label for="notes">Notes</label>
							<input type="checkbox" id="notes" />
							<ol>
								<li class="file"><a href="">information</a></li>
							</ol>
						</li>
					</ol>
  				</div>
		</div>
	</div>
		</v-tab>
		<v-tab title="SEARCH">
				<div class="dropdown">
				<select name="one" class="dropdown-select">
				<option value="1">Search Contacts</option>
				<option value="2">Search Facilities</option>
				<option value="3">Search Inventory</option>
				<option value="3">Search Services</option>
				<option value="3">Search Shows</option>
				</select>
				</div>
				<form method="get" action="/search" id="searchbox5">
					<input id="search52" name="q" type="text" size="40" placeholder="Search..." />
				</form>
			</v-tab>
		</vue-tabs>
		</div>
      </div>
    </div>
    <div class="col col-6">
      <div class="row">
        <div class="col col-12">
          <div class="panel">
	<div id="mainTabs">
	<!--<button @click="addTab">Add show tab</button>-->
		<vue-tabs>
			<v-tab v-for="tab in tabs" :key="tab">
			<div slot="title">{% raw %}{{tab}}{% endraw %} &nbsp;<span v-if="tab !== 'Show List'" @click.stop="removeTab(tab)" class="ti-close tab-close"></span></div>
				<div v-if="tab === 'Show List'">
					<table>
					<tr>
						<th colspan="6">List of Shows</th>
					<tr>
						<th>Show Id</th>
						<th>Name</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
						{% for Shows in showList %}
					<tr>
						<td>{{ Shows.idShows }}</td>
						<td><a href="#" @click="addGearTab" style="color:#000">{{ Shows.show }}</a></td>
						<td>{{ Shows.start_date }}</td>
						<td>{{ Shows.end_date }}</td>
					</tr>
						{% endfor %}
					</table>
				</div>
				<div v-if="tab === 'Item List'">
					<object style="width:100%; height:525px;" type="text/html" data="/database"></object>
				</div>
				<div v-if="tab === 'Calendar View'">
					<object style="width:100%; height:625px;" type="text/html" data="/calendar"></object>
				</div>
				<div v-if="tab === 'Daily Tasks'">
					Make a Daily Tasks here
				</div>
			</v-tab>
		</vue-tabs>
		</div>
        </div>
      </div>
    </div>
	</div>

    <div class="col col-3 right">
      <div class="panel panel-right">
        	<div class="rightAccordianBody">
        <div class="rightBlock">
  			<input type="radio" name="right" id="option5" checked />   
  			<label for="option5"><span>Gear List</span></label>
  				<div class="info">
    				<p>Gear List Info</p>
  				</div>
		</div>
		<div class="rightBlock">
  				<input type="radio" name="right" id="option6"/>
  				<label for="option6"><span>Daily To Do</span></label>
  					<div class="info">
    					<p>Daily To Do Info</p>
  					</div>
		</div>
		<div class="rightBlock">
  			<input type="radio" name="right" id="option7" />
  			<label for="option7"><span>Gantt View</span></label>
  				<div class="info">
				<p>Gantt View Info</p>
				</div>
		</div>
	</div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/js/javascript.js"></script>
</body>
</html>

